
// colors
$grey: #FAF8F5;
$grey2: #909090;
$green: #A9D6CB;
$white: #FEFEFD;
$blue: #264065;
$black: #070D15;

// fonts
$primary-font: 'Poppins', sans-serif;
$secundary-font: 'Nunito Sans', sans-serif;




